<div id="blog-header">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#{{name}}-navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand">My Blog</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="blog-navbar">
                <!-- <button id="save-resume" class="btn btn-default navbar-btn" ng-click="save()"><span class="glyphicon glyphicon-plus"></span> Save</button> //-->
                <button id = "save-resume" class = "btn btn-default navbar-btn" ng-click = "newEntry()"><span class="glyphicon glyphicon-plus"></span> New Entry</button>
            </div>
        </div>
    </nav>
</div>
