<div id="Resume-header">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#{{name}}-navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand">Artist catalog</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
        </div>
    </nav>
</div>
<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="ctrl.closeAlert($index)">{{alert.msg}}</alert>

<div class="col-sm-3">
    <div class="panel panel-default">
        <div class="panel-heading">Artist</div>
        <div class="panel-body" style="text-align: center;">
            <img src="{{artistResume.photo}}" alt="Artist picture" width="100%" />
            <h1>{{artistResume.lastName}}</h1>
            <a href="#/resume/{{artistName}}" class="btn btn-success">Personal Information</a>
            <div style="height: 200px; margin-top: 20px">
                <uib-carousel interval="5000" no-wrap="false">
                    <uib-slide ng-repeat="record in artistArtworks" active="slide.active">
                        <img ng-if="record.artworkGaleryItems[0].type === 'photo'" 
                             ng-src="{{record.artworkGaleryItems[0].link}}" style="margin:auto; height: 200px;  width: 100%">
                    </uib-slide>
                </uib-carousel>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-9">
    <div class="panel panel-default">
        <div class="panel-heading">Catalogo</div>        
        <div class="panel-body" style="text-align: center;">
            <div class="col-sm-12" style="margin-top: 20px;">
                <div ng-repeat="record in artistArtworks">
                    <div class="col-sm-6 well text-center">
                        <div class="col-sm-12">
                            <div style="height: 300px">
                                <uib-carousel interval="5000" no-wrap="false">
                                    <uib-slide ng-repeat="item in record.artworkGaleryItems" active="slide.active">
                                        <img ng-if="item.type === 'photo'" ng-src="{{item.link}}" style="margin:auto; height: 300px; width: 100%">
                                        <youtube-video ng-if="item.type === 'video'" video-url="item.link" style="height: 300px; width: 100%"></youtube-video>
                                    </uib-slide>
                                </uib-carousel>
                            </div>
                            <div class="caption" style="margin-top: 10px">
                                <p><strong>{{model.fields[0].displayName}}: </strong> {{record.name}}</p>
                                <p><strong>{{model.fields[1].displayName}}: </strong> {{record.price| currency}}</p>
                                <p><strong>{{model.fields[2].displayName}}: </strong> <a href="#/resume/{{record.artist.id}}" style="color:blue">{{record.artist.name}}</a></p>
                                <p><strong>Rating: </strong> {{record.ratingSum / record.ratingVotes| number : 2}}/5</p>
                                <p ng-if=record.discount ng-style="{color:'red'}"><strong >{{model.fields[3].displayName}}: </strong>{{record.discount}} &#37; </p>
                                <p ng-if=!record.discount><br/></p>
                            </div>
                            <p class="text-center">
                                <button ng-repeat="(key, action) in ctrl.recordActions" id="{{$parent.$index}}-{{key}}-btn" class="btn btn-{{action.class|| 'default'}} btn-sm" ng-show="action.show()" ng-click="action.fn(record)"><span class="glyphicon glyphicon-{{action.icon}}"></span> {{action.displayName}}</button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-show="ctrl.detailsMode" ng-if="artworkRecord">
    <div class="panel panel-default">
        <div class="panel-heading">{{artworkRecord.name}}</div>
        <ul class="list-group" ng-repeat="remark in artworkRecord.remarks">
            <li class="list-group-item">
                {{remark.remarkDate}} - {{remark.description}} - <em>{{remark.remarkUser}}</em>
            </li>
        </ul>    
    </div>
    <a class="btn btn-default" ng-click="ctrl.detailsMode = false" >Back</a>
    <button ng-click="postRemark(artworkRecord.id, newRemark)" class="btn btn-default">POST</button>
    <input style="border:1px solid #000000" type="text" class="form-control" placeholder="Enter remark here..." maxlength="255" ng-model="newRemark" required>

</div>
<!-- Vista del modal-->
<div class="modal fade" id="questionModal" role="dialog">
    <!-- Definicion del espacio del modal -->
    <div class="modal-dialog">
        <!-- Contenido definido para el Modal -->  
        <div class="modal-content">

            <!-- Encabezado -->
            <div class="modal-header">
                <!-- Boton de cerrado -->
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <!-- Titulo del Modal -->
                <h4 class="modal-title" id = "titleModal">Question for the Artist</h4>
            </div>
            <div id = "userQuestion"></div>
            <div id = "artworkRef"></div>
            <div id = "artworkName"></div>
            <!-- Definicion del formulario para la pregunta -->
            <form ng-repeat="action in ctrl.saveQuestion" id="questionForm" method="post" class="form-horizontal" ng-submit="action.fn(record)">
                <!-- Forma del Formulario para la pregunta -->
                <div class="modal-body">
                    <div class="form-group">
                        <textarea class="form-control" rows="4" id="question" style = "wmargin: 0 auto;"></textarea>
                    </div>         
                </div>
                <!-- Footer del formulario de envio de preguntas -->
                <div class="modal-footer">
                    <!-- Boton de Close para cancelar el envio de la pregunta -->
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <!-- Boton de Send, para hacer envio de la pregunta -->
                    <button type="submit" class="btn btn-success">Send</button>
                </div>
            </form>
        </div>

    </div>
</div>
