<!--<script>
    $(document).ready(function () {  
        $('#rate-artist-btn').click(function () {
            $('#ratingModal').modal('show');
            return false;
        });
    });
</script>-->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
<link rel="stylesheet" href="src/css/ratingStars.css">

<div id="Resume-header">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#{{name}}-navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand">Resume</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
        </div>
    </nav>
</div>
<div>
    <!--Display Alerts -->
    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="ctrl.closeAlert($index)">{{alert.msg}}</alert>

    <div class="panel panel-default">
        <div class="panel-heading">Personal Information</div>
        <div class="panel-body">
            <form novalidate name="form" id="Resume-form" role="form">
                <fieldset>
                    <div class="col-md-12">
                        <div class="img-thumbnail" id="cover" ng-if="record.photo">
                            <a ng-href="{{record.photo}}" target="_blank"><img class="img-responsive" style="height: 15vw;" ng-src="{{record.photo}}" alt="{{record.photo}}"></a>
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <label class="col-md-2 control-label">Rating</label>
                        <div class="col-md-10">
                            {{record.ratingSum / record.ratingVotes| number : 2}}/5    
                            <button id="rate-artist-btn" class="btn btn-default btn-sm" ng-repeat="action in ctrl.modalRating" ng-click="action.fn()"><span class="glyphicon glyphicon-start"></span>Rate</button>
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <label class="col-md-2 control-label">Name</label>
                        <div class="col-md-10">
                            <input id="name" name="name" class="form-control" type="text" ng-model="record.artist.firstName + ' ' + record.artist.lastname" readonly/>
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <label for="{{model.fields[1].name}}" class="col-md-2 control-label">{{model.fields[1].displayName}}</label>
                        <div class="col-md-10">
                            <input id="{{model.fields[1].name}}" name="{{model.fields[1].name}}" class="form-control" type="text" ng-model="record.city" readonly/>
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <label for="{{model.fields[2].name}}" class="col-md-2 control-label">{{model.fields[2].displayName}}</label>
                        <div class="col-md-10">
                            <input id="{{model.fields[2].name}}" name="{{model.fields[2].name}}" class="form-control" type="text" ng-model="record.country" readonly/>
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <label for="{{model.fields[3].name}}" class="col-md-2 control-label">{{model.fields[3].displayName}}</label>
                        <div class="col-md-10">
                            <a href="{{record.website}}" target="_blank">{{record.website}}</a>

                        </div>
                    </div>                
                    <div class="form-group col-md-12">
                        <label class="col-md-2 control-label">Artist catalog:</label>
                        <div class="col-md-10">
                            <a href="#/artistCatalog/{{record.artist.id}}">View</a>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Experience & Education</div>
        <div ng-repeat="exp in record.experience">
            <div class="panel-body">
                <form novalidate name="form" id="Resume-form" role="form">
                    <fieldset>
                        <div class="form-group col-md-12">
                            <label class="col-md-2 control-label">Title</label>
                            <div class="col-md-10">
                                <input id="title" name="title" class="form-control" type="text" ng-model="exp.title" readonly/>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <label class="col-md-2 control-label">Place</label>
                            <div class="col-md-10">
                                <input id="title" name="title" class="form-control" type="text" ng-model="exp.place" readonly/>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <label class="col-md-2 control-label">Start Date</label>
                            <div class="col-md-10">
                                <input id="title" name="title" class="form-control" type="text" ng-model="exp.startDate" readonly/>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <label class="col-md-2 control-label">Finish Date</label>
                            <div class="col-md-10">
                                <input id="title" name="title" class="form-control" type="text" ng-model="exp.finishDate" readonly/>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Vista del modal-->
<div class="modal fade" id="ratingModal" role="dialog">
    <!-- Definicion del espacio del modal -->
    <div class="modal-dialog">
        <!-- Contenido definido para el Modal -->  
        <div class="modal-content">
            <!-- Encabezado -->
            <div class="modal-header">
                <!-- Boton de cerrado -->
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <!-- Titulo del Modal -->
                <h4 class="modal-title" id = "titleModal">Rate the Artist</h4>
            </div>
            <!-- Definicion del formulario para el rating -->
            <form id="ratingModal" ng-repeat="action in ctrl.saveRating" method="post" class="form-horizontal" ng-submit="action.fn()">
                <!-- Forma del Formulario para el rating -->
                <div class="modal-body">
                    <div class="stars">
                        <input class="star star-5" id="star-5" type="radio" name="rating" value="5"/><label class="star star-5" for="star-5"></label>
                        <input class="star star-4" id="star-4" type="radio" name="rating" value="4"/><label class="star star-4" for="star-4"></label>
                        <input class="star star-3" id="star-3" type="radio" name="rating" value="3"/><label class="star star-3" for="star-3"></label>
                        <input class="star star-2" id="star-2" type="radio" name="rating" value="2"/><label class="star star-2" for="star-2"></label>
                        <input class="star star-1" id="star-1" type="radio" name="rating" value="1"/><label class="star star-1" for="star-1"></label>
                    </div>
                </div>
                <!-- Footer del formulario de envio del rating -->
                <div class="modal-footer">
                    <!-- Boton de Close para cancelar el envio de la Rating -->
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <!-- Boton de Send, para hacer envio de la Rating -->
                    <button type="submit" class="btn btn-success">Send</button>
                </div>
            </form>
        </div>

    </div>
</div>