<div id="Resume-header">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#{{name}}-navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand">Portfolio</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="resume-navbar">
                <button id="save-resume" class="btn btn-default navbar-btn" ng-click="save()"><span class="glyphicon glyphicon-plus"></span> Save</button>
                <button id="cancel-resume" class="btn btn-default navbar-btn" ng-click="cancel()"><span class="glyphicon glyphicon-remove"></span>Cancel</button>
            </div>
        </div>
    </nav>
</div>
<div>
    <!--Display Alerts -->
    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="ctrl.closeAlert($index)">{{alert.msg}}</alert>
    
    <div class="panel panel-default">
      <div class="panel-heading">Personal Information</div>
      <div class="panel-body">
          <form novalidate name="form" id="Resume-form" role="form">
            <fieldset>
                <div class="form-group col-md-12">
                    <label for="name" class="col-md-2 control-label">Name</label>
                    <div class="col-md-10">
                        <input id="name" name="name" class="form-control" type="text" ng-model="record.artist.name" readonly/>
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <label for="{{model.fields[0].name}}" class="col-md-2 control-label">{{model.fields[0].displayName}}</label>
                    <div class="col-md-10">
                        <input id="{{model.fields[0].name}}" name="{{model.fields[0].name}}" class="form-control" type="text" ng-model="record.artist.lastname" readonly/>
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <label for="{{model.fields[1].name}}" class="col-md-2 control-label">{{model.fields[1].displayName}}</label>
                    <div class="col-md-10">
                        <input id="{{model.fields[1].name}}" name="{{model.fields[1].name}}" class="form-control" type="text" ng-model="record.city" ng-required="model.fields[1].required" />
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <label for="{{model.fields[2].name}}" class="col-md-2 control-label">{{model.fields[2].displayName}}</label>
                    <div class="col-md-10">
                        <input id="{{model.fields[2].name}}" name="{{model.fields[2].name}}" class="form-control" type="text" ng-model="record.country" ng-required="model.fields[2].required" />
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <label for="{{model.fields[4].name}}" class="col-md-2 control-label">{{model.fields[4].displayName}}</label>
                    <div class="col-md-10">
                        <input id="{{model.fields[4].name}}" name="{{model.fields[4].name}}" class="form-control" type="text" ng-model="record.photo" ng-required="model.fields[4].required" />
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <label for="{{model.fields[3].name}}" class="col-md-2 control-label">{{model.fields[3].displayName}}</label>
                    <div class="col-md-10">
                        <input id="{{model.fields[3].name}}" name="{{model.fields[3].name}}" class="form-control" type="text" ng-model="record.website" ng-required="model.fields[3].required" />
                    </div>
                </div>
            </fieldset>
        </form>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">Experience & Education</div>
      <div class="panel-body">
          <div class="col-md-5">
              <h3>Education</h3>
              <div>
                  <textarea rows="15" cols="50"
                    style="resize: none;" ng-model="listEducation">{{listEducation}}</textarea>
              </div>
              
          </div>
          <div class="col-md-2">
            <div class="btn-group-vertical">
                <button class="btn btn-default" ng-click="addExperience()" style="margin-top: 100px; padding-top: 20px; top: 0px;">Add</button>
                <!-- Boton para editar el registro<button class="btn btn-default" style="margin-top: 20px;">Edit</button>-->
            </div>
          </div>
          <div class="col-md-5">
              <h3>Experience</h3>
              <textarea rows="15" cols="50"
                    style="resize: none;" ng-model="listExperience">{{listExperience}}</textarea>
          </div>
          
      </div>
    </div>
</div>

<!-- Vista del modal Experiencia-->
<div class="modal fade" id="experienceModal" role="dialog">
    <!-- Definicion del espacio del modal -->
    <div class="modal-dialog">
        <!-- Contenido definido para el Modal -->  
        <div class="modal-content">

            <!-- Encabezado -->
            <div class="modal-header">
                <!-- Boton de cerrado -->
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <!-- Titulo del Modal -->
                <h4 class="modal-title" id = "titleModal">Education & Experience</h4>
            </div>
            <!-- Definicion del formulario para la pregunta -->
            <form id="experienceForm" method="post" class="form-horizontal" ng-submit="saveExperience()">
                <!-- Forma del Formulario para la pregunta -->
                <div class="modal-body">
                    <div class="form-group">
                        <div class="form-group col-md-12">
                            <div  class="col-md-6" align="center">
                                <input type="radio" name="education" value="Education" ng-model="experience.type" checked> <label  class="col-md-2 control-label">Education</label>
                            </div>
                            <div class="col-md-6" align="center">
                                <input type="radio" name="experience" value="Experience" ng-model="experience.type"><label  class="col-md-2 control-label">Experience</label>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <label  class="col-md-2 control-label">Title: </label>
                            <div class="col-md-10">
                                <input id="title" name="title" class="form-control" type="text" ng-model="experience.title" required="true" />
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <label  class="col-md-2 control-label">Place:  </label>
                            <div class="col-md-10">
                                <input id="place" name="place" class="form-control" type="text" ng-model="experience.place" required="true" />
                            </div>
                        </div>
                        <div class="form-group col-md-6" align="center">
                            <label  class="col-md-2 control-label">From:</label>
                            <div class="col-md-10">
                                <input id="fechaInicio" name="fechaInicio" class="form-control" type="date" placeholder="yyyy-MM-dd" ng-model="experience.startDate" required="true" />
                            </div>
                        </div>
                        <div class="form-group col-md-6" align="center">
                            <label  class="col-md-2 control-label"> to </label>
                            <div class="col-md-10">
                                <input id="fechaFin" name="fechaFin" class="form-control" type="date" placeholder="yyyy-MM-dd" ng-model="experience.finishDate" required="false" />
                            </div>
                        </div>
                    </div>         
                </div>
                <!-- Footer del formulario -->
                <div class="modal-footer">
                    <!-- Boton de Close para cancelar-->
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <!-- Boton de Gusrdar-->
                    <button type="submit" class="btn btn-success">Save</button>
                </div>
            </form>
        </div>

    </div>
</div>
